:root{
  --background:rgb(34, 31, 31);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  /* background: url(../img/images.jpg);
  object-fit: cover; */
}

header{
  padding: 1rem;
  display: flex;
  justify-content:space-around;
  background-color: var(--background);
  z-index: 999;
}

.navegador{
  padding: 10px;
  border: 2px solid;
  height: 50px;
  background: #5653ff;
}

.icono-usuario{
  text-decoration: none;
  color: #000000;
}

.search {
  color: #ffffff;
  width: 70%;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border:2px solid var( --background);
  font: bold 1.5rem serif;
  
}

.btn-search {
  position: relative;
  bottom: 1px;
  width: 80px;
  height: 30px;
  margin-bottom: 0px;
  font: arial 1.5rem serif;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(57, 47, 192);
  color: rgb(218, 216, 216);
  border-radius: 10px;
  cursor: pointer;
}

.btn-search:hover{
  background: rgb(80, 80, 80);
  border: 1px solid rgb(80, 80, 80);
}
/* --------------------carousel------------------------------------------------- */
/* .carousel{
  margin-top: 20px;
} */

.carousel-item{
  width: 100%;
  height: 520px;
}

.carousel-item img{
  width: 100%;
  height: 520px;
  border: 5px solid;
  object-fit: cover;
}

/* ------------------------------------------modal------------------------------ */

.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1010;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  display: none;
}

.light-box img{
  left: 12vw;
  height: 50vh;
  width: 40vw;
}

.contenedor-info{
  padding-left: 10px;
  width: 50%;
  height: 200px;
  overflow-wrap: break-word;
}
.sinopsis{
  position: relative;
  font-weight: 400;
  color: #5653ff;
  bottom: 50px;
  font: bold 2.5rem serif;
}

.info-pelicula{
  font-size: 1em;
  color: #ffffff;
  font: bold 1rem serif;
  text-align: start; 
}

.light-box:target{
  transform: scale(1);
}

.close{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size:30px;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
}

.close:hover{
color:#7f8c8d;
text-decoration: none;
cursor: pointer;
}


/* Responsive-------------------------------------- */

